* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}


a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* SECTIONS */

header {
    height: 150px;
    background-color: cornflowerblue;
}

section {
    height: 300px;
}

.jumbotron {
    background-color: red;
}

.pricing {
    background-color: orange;

}
.partner {
    background-color: yellow;
}

.showcase {
    background-color: green;
}

.testimonials {
    background-color: blue;
}

.calltoaction {
    background-color: indigo;
}

.faq {
    background-color: violet;
}

footer {
    height: 150px;
    background-color: cornflowerblue;
}