* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

img {
    width: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

.container-wide {
    width: 82%;
    margin: auto;
}


a {
    color: inherit;
    text-decoration: none;
}

a.classic {
    color:#0061ff;
    text-decoration: underline;
}

ul {
    list-style: none;
}

.column {
    float: left;
}

section .title {
    margin-bottom: 2rem;
}

section .title h2 {
    font-size: 2.5rem;
}

/* BUTTONS */
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0 1em;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1rem;
}

.btn-small {
    height: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;

}

.btn-blue {
    background-color: #0061ff;
    color: white;
}

/* HEADER */

header {
    padding: 0 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
}

.header-col {
    float: left;
    line-height: 5rem;
}

.header-col.logo {
    width: 8rem;
}

.logo img,
.header-col li {
    vertical-align: middle;
}

.header-col.right {
    float: right;
}

.header-col ul {
    display: inline-block;
}

.header-col li {
    display: inline-block;
    margin-left: 2rem;
    vertical-align: middle;
}

/* SECTIONS: #jumbotron, #pricing, #partner, #showcase, #testimonials, #calltoaction, #faq */


#pricing, #partner, #showcase, #faq {
    margin-bottom: 8rem;
}



/* JUMBOTRON */

#jumbotron {
    background-color: #b4d0e7;
    margin-bottom: 5rem;
    padding: 9rem 0 8rem;
}


.jumbotron-top {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.jumbotron-bottom::after {
    content: '';
    display: table;
    clear: left;
}

#jumbotron .column.text {
    width: 35%;
    padding-right: 2rem;
}

#jumbotron .herotext {
    margin-bottom: 2rem;
}

#jumbotron .button-caption {
    font-size: 0.8rem;
    margin: 1em 0;
}

#jumbotron .innerlink {
    font-size: 2rem;
}


#jumbotron .column.img {
    float: right;
    width: 65%;
}


/* PRICING */
#pricing {
    padding-top: 4rem;
    /* background-color: orange; */
}

.pricing-top {
    margin-bottom: 2rem;
}

.pricing-plans {
    /* background-color: orange; */
    margin-bottom: 3rem;
}

#pricing .plan {
    border: 1px solid grey;
}

.pricing-plans .column {
    width: calc(100% / 3 - 2rem);
    height: 60rem;
}

.pricing-plans .column:nth-child(2) {
    margin:0 3rem;
}

.plan .heading {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 0.5rem 0;
}

.plan .details {
    padding: 2rem 2rem 0;
    font-size: 0.8rem;
}

.plan .details div,
.plan .details h4,
.plan .details li {
    margin-bottom: 1rem;
}

.plan .details .name,
.plan .details .price {
    font-weight: bold;
}

.plan .details .name {
    font-size: 1.5rem;
}

.plan .details .period {
    color: grey;
    margin-bottom:  1.5rem;
}

.plan .details .btn {
    width: 100%;
    margin: 2rem 0;
}

.plan .details .separator {
    border-bottom: 1px solid grey;
    width: 5rem;
}

.plan .details h4 {
    font-size: 1rem;
}

.plan .details li {
    padding-left: 1.6em;
    text-indent: -0.6em;
}

.plan .details li::before {
    content: " \f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #0061ff;
    display: inline-block;
    width: 0.6rem;
}

.pricing-enterprise .column:first-child {
    width: 60%;
}

.pricing-enterprise .column:nth-child(2) {
    width: 40%;
}

/* PARTNER */
#partner {
    background-color: yellow;
}

#partner .column {
    width: 50%;
}


/* SHOWCASE */

#showcase {
    background-color: green;
}

#showcase .row .column {
    width: calc(100% / 3 - 2rem);
    height: 60rem;
}

#showcase .row .column:nth-child(2) {
    margin:0 3rem;
}



/* TESTIMONIALS */

#testimonials {
    background-color: blue;
}


#testimonials .companies .column {
    width: calc(100% / 3);
    height: 60rem;
}

#testimonials .companies .column .cell {
    width: 50%;
    height: auto;
}

#calltoaction {
    background-color: indigo;
}

#faq {
    background-color: violet;
}

footer {
    height: 100px;
    background-color: cornflowerblue;
}